@use '../../../scss/base';

.search-section {
  position: relative;
  z-index: 4;
}

.search {
  border: unset;
  border-radius: 4px;
  margin-bottom: map-get(base.$spacing, xs);
  padding: map-get(base.$spacing, xs);
}

.options {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.option {
  padding: map-get(base.$spacing, s) map-get(base.$spacing, xs);
}

.close-options {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
}
