$black: (
  100: #424242,
  200: #212121,
  300: #0f0f0f,
);

$blue: (
  100: #4fc3f7,
  200: #039be5,
  300: #01579b,
);

$red: (
  100: #f44336,
  200: #d32f2f,
  300: #b71c1c,
);

$green: (
  100: #66bb6a,
  200: #43a047,
  300: #1b5e20,
);

$orange: (
  100: #ffb74d,
  200: #fb8c00,
  300: #e65100,
);

$white: (
  100: #bdbdbd,
  200: #bdbdbd,
  300: #fafafa,
);
