.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

$font-size: (
  'xs': 12px,
  's': 14px,
  'm': 16px,
  'l': 18px,
  'xl': 22px,
);

$montserrat: 'Montserrat', sans-serif;
$roboto: 'Raleway', sans-serif;
