$opacities-light: (
  background-fade: 0.5,
  background: 1,
  border: 0.4,
  default: 1,
  font: 0.8,
);

$opacities-dark: (
  background-fade: 0.5,
  background: 1,
  border: 0.4,
  default: 1,
  font: 0.8,
);
